.header {
   
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(255, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    position: relative;
    background-repeat: no-repeat;
  }
  
  .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .header h1, .header p {
    position: relative;
    z-index: 2;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  }
  
  .header h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 1rem;
  }
  
  .header p {
    font-size: 1.5rem;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    margin-bottom: 2rem;
  }
  

 
.header form {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    margin-top: 1rem;
  }
  
  
  .header form input {
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 5px 0 0 5px;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(14, 13, 13);
    transition: border-color 0.3s ease;
  }
  
  
  .header form input:focus {
    border-color: white;
  }
  
 
  .header form button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #351c4d;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .header form button:hover {
    background-color: #9a87c9;
  }