body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #f8f8f8;
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.billing-details, .payment-details {
    flex: 1;
    margin-right: 20px;
}

#order-summary {
    flex: 0.5;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

#order-summary h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#order-summary ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#order-summary ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

#order-summary ul li:last-child {
    border-bottom: none;
}

#order-summary p {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    text-align: right;
}

h1, h2 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
select {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

p {
    font-weight: bold;
}